{# templates/animal/add.html.twig #}
{% extends 'animal/_form_base.html.twig' %}

{% block title_content %}
    {{ 'animal.add.title'|trans }}
{% endblock %}

{% block heading_content %}
    {{ 'animal.add.title'|trans }}
{% endblock %}

{% block form_buttons %}
    <button class="btn btn-primary">{{ 'animal.add.button'|trans }}</button>
{% endblock %}