body {

}

.form_group {
    width: 100%;
    margin: 0 auto;
}

.main-content{
    width: 100%;
    margin: 0 auto;
    padding: 10px;
}

.form_group_item {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 10px;
}

.form_group_item > div {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
}

.form_group_item :is(select, input) {
    width:90%;
}

fieldset.resize_children :is(select, input) {
    width: 100%;
}
